body{
    background-color: white;
    max-width: 1400px;
}


.navbar{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(52, 52, 208);
    height: 50px;
    box-shadow:
  0px 4.1px 4.2px rgba(0, 0, 0, 0.7),
  0px 9.4px 9.6px rgba(0, 0, 0, 0.532),
  0px 16.3px 16.6px rgba(0, 0, 0, 0.456),
  0px 25.9px 26.4px rgba(0, 0, 0, 0.4),
  0px 40px 40.8px rgba(0, 0, 0, 0.35),
  0px 62.4px 63.6px rgba(0, 0, 0, 0.3),
  0px 103.6px 105.6px rgba(0, 0, 0, 0.244),
  0px 207px 211px rgba(0, 0, 0, 0.168);   
}

.navbar:first-child{
    padding: 10px;
    align-self: flex-start;
   height: 30px;
}

h1 {
padding: 5px 0 10px 0;
text-align: center;
color: white;
width: 350px;
font-size: 18px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0 auto 0 auto;

}

.navbar:last-child{
    padding: 10px 10px 10px 0;
    align-self: flex-end;
    height: 30px;
}

.navlist{
    display: none;
    position: absolute;
    margin-top: 50px;
    height: 480px;
    width: 200px;
    background-color: rgb(52, 52, 208);
    color:white;   
    box-shadow:
    0px 4.1px 4.2px rgba(0, 0, 0, 0.7),
    0px 9.4px 9.6px rgba(0, 0, 0, 0.532),
    0px 16.3px 16.6px rgba(0, 0, 0, 0.456),
    0px 25.9px 26.4px rgba(0, 0, 0, 0.4),
    0px 40px 40.8px rgba(0, 0, 0, 0.35),
    0px 62.4px 63.6px rgba(0, 0, 0, 0.3),
    0px 103.6px 105.6px rgba(0, 0, 0, 0.244),
    0px 207px 211px rgba(0, 0, 0, 0.168);  
}

.navlist > ul >li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    padding:5%;
}

main{
    max-width: 1000px;
    margin: auto;
}

.container{
position: relative;
  height: 500px;
  width: 100%;
  background: white url('images/canoe.jpeg') center no-repeat; 
  background-size: cover;
  margin: 0 auto 0 auto;
  z-index: -1;
 
}

.container > h2{
    position:absolute;
    text-align: center;
    width: 500px;
    top: 25%;
    left: 28%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 300;
 
}

h3{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-top: 0;
}

hr{
    display: none;
}
h4{
    font-size: 30px;
    color: green;
    text-decoration: underline;
    margin-bottom: 0;

}

h5{
    font-size: 20px;
    margin-bottom: 0;
}

.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}


@media screen and (max-width: 1000px) {
    body, main{
        width: 100%;
    }

    .navbar{
        width: 98%;
    }
    .container{
        position:relative;
        width: 100%;
    }

    .container > h2{
        text-align: center;
        top: 25%;
        left: 23%;
    } 
       
    h3{
        text-align: justify;
        margin-bottom: 0;
    }
    
    hr{ 
        display: block;
        color: black;
    }

    .content{
        text-align: justify;
    }
}

@media screen and (max-width: 699px){
    body, main{
        width: 100%;
    }

    .navbar{
        width: 98%;
    }
    .container{
        position:relative;
        width: 100%;
    }

    .container > h2{
        text-align: center;
        top: 25%;
        left: 15%;
    } 
       
    h3{
        text-align: center;
        margin-bottom: 0;
    }
    
    hr{ 
        display: block;
        color: black;
    }

    .content{
        text-align: justify;
    }
}